extends layout

block content
  script#gallerymodal-template(type="text/x-handlebars-template")
    button.modal__close #[span Fechar]
    button.arrow--prev.arrow(type="button")
    button.arrow--next.arrow(type="button")

    .modal__photo-wrapper
      .modal__photo(style!="background-image: url(public/assets/<%= offer.photos[index] %>);")

    .modal__navigator-wrapper
      ul.modal__navigator#gallery-modal
        |<% for (var i = 0; i < offer.photos.length; i++) { %>
        |<% var selectedClass = i === index ? "modal__thumb--selected" : "" %>
        li.modal__thumb(style!="background-image: url(public/assets/<%= offer.photos[i] %>);", class!="<%= selectedClass %>", data-photo-index!="<%= i %>")
        |<% } %>

  script#option-template(type="text/x-handlebars-template")
    |<% _.forEach(options, function(option) { %>
    .option
      .col1
        h3.option-title <%= option.title %>
        p.option-texto <%= option.description %>
      .col2
        p.option-title.saidas #[strong Saídas:]
        |<% _.forEach(option.from, function(from) { %>
        p.option-texto <%= from %>
        |<% }); %>
      .col3
        p.numero-destaque <%= option.daily %> #[i.diaria]
        p.option-attr Diárias
        hr.separador-attrs
        p.numero-destaque 1 #[i.pessoa]
        p.option-attr Pessoa
      .col4
        p.tipo-tarifa.reembolsavel $ Tarifa não reembolsável
        p.option-value Por apenas: #[strong.value R$ #[span <%= _.numberFormat(option.price, 0, ",", ".") %>]] + taxas em até 10x
        button.option-btn Quero ir
    |<% }); %>

  script#optiontag-template(type="text/x-handlebars-template").
    <option value="">Escolha</option>
    {{#each this}}
      <option {{#if selected}}selected{{/if}}>{{text}}</option>
    {{/each}}

  .container
    header.offer
      h1.offer__title= offer.title
      p.offer__place= offer.location
      p.offer__description= offer.description

    section.gallery
      .gallery__content#gallery(data-photo-index=0)
        button.arrow--prev.arrow(type="button")
        button.arrow--next.arrow(type="button")
        .photo
          figure.offer-fig
            img(src="public/assets/"+offer.photos[0] alt="" width="940px" height="370px")
            figcaption.offer-figcap Exterior do Hotel

      nav.gallery-nav
        ul#gallery-nav.gallery-thumbs
          - var extraPhotos = Math.max(offer.photos.length - 10, 0)
          - var thumbnails = offer.photos.slice(0, 10)

          each thumbnail, i in thumbnails

            - var className = (i == thumbnails.length - 1) ? "gallery__thumb--last" : ""
            li.gallery-thumb(data-photo-index=i, class=className)
              img(src="public/assets/"+thumbnail alt="" width="90px" height="60px")

              if (i == 9 && extraPhotos)
                .gallery__extra-photos= "+" + extraPhotos

    section.options-section
      header.options-header
        h2.options-title Escolha sua melhor opção
        nav.options-controls
          .options-control
            label(for="saida").options-control-label Saídas
            select.options-control-select#saida
              option Escolha
          .options-control
            label.options-control-label(for="n-diarias") Nº de diárias
            select.options-control-select.diarias#n-diarias
              option Escolha
      .options#options
